@import url("../css/stylesheet.css");
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Poppins');
$navColor: rgba(11,
12,
17,
0.9);
$lightColor: #ebebeb;
$inscriptionColor: #5da8ef;
$lineColor: #5da8ef;
$text-color: #8f8f8f;
$titleColor: #333;
$btnBorder: rgba(93,
168,
239,
0.7);
$boardColor: #ececec;
$priceColor: #ce60a8;
$pageContentColor: rgba(97,
97,
97,
0.65); //article 1 and article 2
$smallFont: "League Spartan";
$titleFont: "Playfair Display";
$textFont: "Poppins",
sans-serif;
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.main-header {
  margin-bottom: 190px;
}

.text {
  color: $text-color;
  font-size: 16px;
}

nav.navbar {
  margin: 0.8% 0;
  margin: 45px 0;
}

.navbar-header .navbar-brand {
  padding: 0;
  height: auto;
}

.navigation {
  font-family: $smallFont;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  li {
    padding-left: 24px;
    padding-right: 24px;
  }
  li a {
    color: $navColor; //change bootstrap
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  li:last-child {
    padding-right: 0;
  }
  li:first-child {
    padding-left: 0;
  }
}

.image {
  position: relative;
}

.base {
  box-shadow: -16px 25px 65px 0px rgba(11, 12, 17, 0.2);
}

.wrapper {
  display: flex;
  align-items: center;
}

.banner-content {
  position: absolute;
  z-index: 10;
}

.r-pagination {
  position: absolute;
  bottom: 0;
}

.banner-title {
  font-family: $titleFont;
  font-size: 62px;
  font-weight: 700;
  color: $navColor;
}

.inscription {
  color: $inscriptionColor;
  text-transform: uppercase;
  font-size: 15px;
}

.r-pagination .glyphicon {
  color: $lightColor;
}

.current-page {
  color: $inscriptionColor;
}

.v-text {
  transform: rotate(-90deg);
  transform-origin: right top 0;
}

.right-side {
  //flex only for social!
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 0;
  position: absolute;
  right: -3%;
  a {
    color: $lightColor;
  }
  .caption {
    top: -75px;
  }
}

.slogan {
  color: $lightColor;
  font-family: $smallFont;
  font-weight: 700; // position: absolute;
  white-space: nowrap; // top: -500px;
  text-transform: uppercase;
}

.social {
  list-style: none;
  list-style-position: inside;
  padding: 0;
}

// .contacts {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: nowrap;
//   justify-content: space-between;
//   width: 45px;
//   height: 100%;
// }
//end fixme
.blockquote {
  text-align: center;
  border: none;
  font-family: $titleFont;
  font-size: 24px;
  color: $titleColor;
}

.quote-author {
  font-family: $smallFont;
  color: $titleColor;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.quote {
  margin: 0 0 60px;
}

.line {
  height: 100px;
  border-right: 2px solid $lineColor;
  margin-bottom: 60px;
  width: 50%;
}

.media {
  margin-bottom: 200px;
}

.media-content {
  position: relative;
  .content {
    text-align: left;
  }
  .text {
    margin-bottom: 60px;
  }
}

.media-video {
  position: absolute !important; //change bootstrap
  top: 100px;
}

.media-capture .image {
  margin-bottom: 60px;
}

.r-btn {
  font-family: $smallFont;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: $titleColor;
  display: inline-block;
  &:hover {
    text-decoration: none;
    border-bottom: 2px solid transparent;
  }
}

.show-all-btn {
  padding-bottom: 5px;
  border-bottom: 2px solid $btnBorder;
}

.shop-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 175px;
  .title {
    margin-top: 0;
  }
}

.title {
  font-family: $titleFont;
  color: $titleColor;
  font-size: 42px;
  font-weight: 700;
}

.boards {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 132px;
}

.board {
  width: 250px;
  height: 320px;
  margin-right: 186px;
  background-color: $boardColor;
  position: relative;
  .text {
    position: absolute;
    right: -68%;
    top: 75px;
  }
  .board-type {
    font-family: $textFont;
    color: #7a7a7a;
    font-size: 12px;
    text-transform: uppercase;
  }
  .board-name {
    font-family: $titleFont;
    color: $titleColor;
    font-size: 26px;
    font-weight: 400;
  }
  .price {
    margin-top: 38px;
    display: flex;
    justify-content: center;
  }
}

.board-image {
  position: absolute;
  bottom: 0;
}

.price-val {
  color: $priceColor;
}

.arrows {
  position: absolute;
  width: 100%;
  height: 100%;
}

.spacer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop {
  margin-bottom: 173px;
  .left,
  .right {
    display: block;
    position: relative;
  }
}

.shop .left {
  left: - 4%;
}

.shop .right {
  right: - 4%;
}

.shop-footer {
  display: flex;
  justify-content: center;
}

.article-first {
  display: flex;
  .article-header {
    background: url("../img/01.png") no-repeat;
  }
}

.caption {
  position: absolute;
  top: 0;
  right: 0;
}

.article-content {
  width: 27%;
  margin-left: 70px;
  color: $pageContentColor;
  font-family: $textFont;
  font-size: 14px;
}

.article-header {
  height: 136px;
  margin-top: 15px;
  margin-bottom: 34px;
  position: relative;
  .title {
    position: absolute;
    bottom: 0;
    padding-bottom: 11px;
    &:first-letter {
      border-bottom: 2px solid $lineColor;
    }
  }
}

.article-text {
  margin-bottom: 67px;
}

.article-image {
  width: 62.3%;
  margin-left: 54px;
  .caption {
    right: -2%;
  }
}


/*Media query*/

@media (min-width: 1300px) {
  body .container {
    padding: 0;
    width: 1224px;
  }
}