@import url("../css/stylesheet.css");
@import url('https://fonts.googleapis.com/css?family=Playfair+Display');
@import url('https://fonts.googleapis.com/css?family=Poppins');
$navColor: rgba(11,
12,
17,
0.9);
$lightColor: #ebebeb;
$inscriptionColor: #5da8ef;
$lineColor: #5da8ef;
$text-color: #8f8f8f;
$titleColor: #333;
$btnBorder: rgba(93,
168,
239,
0.7);
$boardColor: #ececec;
$priceColor: #ce60a8;
$pageContentColor: rgba(97,
97,
97,
0.65); //article 1 and article 2
$smallFont: "League Spartan";
$titleFont: "Playfair Display";
$textFont: "Poppins",
sans-serif;
* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url("../img/background-water.png") no-repeat 0 1572px, url("../img/surf-bg.png") no-repeat 0 3545px;
  min-width: 320px;
}

.centering {
  display: flex;
  justify-content: center;
}

.main-header {
  margin-bottom: 180px;
}

.text {
  color: $text-color;
  font-size: 16px;
}

nav.navbar {
  margin: 0.8% 0;
  margin: 45px 0;
}

.navbar-header .navbar-brand {
  padding: 0;
  padding-top: 3px;
  height: auto;
  transition: transform 1s;
}

.navbar-brand:hover {
  transform: rotate(90deg);
}

.navigation {
  font-family: $smallFont;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  li {
    padding-left: 24px;
    padding-right: 24px;
  }
  a {
    color: $navColor; //change bootstrap
    padding-left: 0 !important;
    padding-right: 0 !important;
    transition: color 0.35s;
    &:hover {
      color: $lineColor !important;
      background-color: transparent !important;
    }
  }
  li:last-child {
    padding-right: 0;
  }
  li:first-child {
    padding-left: 0;
  }
}

.image {
  position: relative;
}

.base {
  box-shadow: -16px 25px 65px 0px rgba(11, 12, 17, 0.2);
}

.wrapper {
  display: flex;
  align-items: center;
}

.banner {
  img {
    width: 83%;
  }
}

.banner-content {
  position: absolute;
  z-index: 10;
}

.r-pagination {
  position: absolute;
  bottom: 0;
  .glyphicon:hover {
    color: $lineColor;
  }
}

.banner-title {
  font-family: $titleFont;
  font-size: 62px;
  font-weight: 700;
  color: $navColor;
}

.inscription {
  color: $inscriptionColor;
  text-transform: uppercase;
  font-size: 15px;
}

.r-pagination .glyphicon {
  color: $lightColor;
}

.current-page {
  color: $inscriptionColor;
}

.v-text {
  transform: rotate(-90deg);
  transform-origin: right top 0;
}

.v-text-left {
  transform: translateX(-130%) rotate(-90deg);
  transform-origin: right top 0;
}

.right-side {
  //flex only for social!
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 0;
  position: absolute;
  right: -3%;
  a {
    color: $lightColor;
  }
  .caption {
    top: -75px;
  }
}

.slogan {
  color: $lightColor;
  font-family: $smallFont;
  font-weight: 700; // position: absolute;
  white-space: nowrap; // top: -500px;
  text-transform: uppercase;
}

.caption {
  position: absolute;
  top: 0;
}

.caption-right {
  right: 0;
}

.caption-left {
  left: 0;
}

.social {
  list-style: none;
  list-style-position: inside;
  padding: 0;
}

// .contacts {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: nowrap;
//   justify-content: space-between;
//   width: 45px;
//   height: 100%;
// }
//end fixme
.blockquote {
  text-align: center;
  border: none;
  font-family: $titleFont;
  font-size: 24px;
  color: $titleColor;
  padding: 0;
  margin-bottom: 29px;
}

.quote-author {
  font-family: $smallFont;
  color: $titleColor;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.quote {
  margin: 0 0 50px;
}

.line {
  height: 100px;
  border-right: 2px solid $lineColor;
  margin-bottom: 50px;
  width: 50%;
}

.media {
  margin-bottom: 200px;
}

.media-content {
  position: relative;
  .content {
    text-align: left;
  }
  .text {
    margin-bottom: 60px;
  }
}

#mvid {
  position: absolute; //change bootstrap
  top: 50px;
}

.media-capture .image {
  margin-bottom: 60px;
}

.r-btn,
input[placeholder] {
  font-family: $smallFont;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: $titleColor;
}

input[placeholder]::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: $titleColor;
}

input[placeholder]:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: $titleColor;
  opacity: 1;
}

input[placeholder]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: $titleColor;
  opacity: 1;
}

input[placeholder]:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: $titleColor;
}

.r-btn {
  display: inline-block;
  &:hover {
    text-decoration: none;
    border-bottom: 2px solid transparent;
  }
}

.show-all-btn {
  padding-bottom: 5px;
  border-bottom: 2px solid $btnBorder;
  transition: border-color 1s;
  white-space: nowrap;
  &:hover {
    border-color: transparent;
  }
}

.shop-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 175px;
  .title {
    margin-top: 0;
  }
}

.title {
  font-family: $titleFont;
  color: $titleColor;
  font-size: 42px;
  font-weight: 700;
}

.boards {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 80px;
  .glyphicon {
    color: $lightColor;
    align-self: center;
    &:hover {
      color: $lineColor;
    }
  }
}

.board {
  width: 250px;
  height: 320px;
  margin-right: 15%;
  background-color: $boardColor;
  position: relative;
  .text {
    position: absolute;
    left: 190px;
    top: 75px;
  }
  .board-type {
    font-family: $textFont;
    color: #7a7a7a;
    font-size: 12px;
    text-transform: uppercase;
  }
  .board-name {
    font-family: $titleFont;
    color: $titleColor;
    font-size: 26px;
    font-weight: 400;
    white-space: nowrap
  }
  .price {
    margin-top: 38px;
    display: flex;
    justify-content: center;
  }
}

.board-image {
  position: absolute;
  bottom: 0;
}

.price-val {
  color: $priceColor;
}

.shop {
  margin-bottom: 173px;
  .left,
  .right {
    display: block;
    position: relative;
  }
}

.shop .left {
  left: - 4%;
}

.shop .right {
  right: - 4%;
}

.shop-footer {
  display: flex;
  justify-content: center;
}

.page-info {
  margin-bottom: 110px;
}

.article-first,
.article-second {
  display: flex;
}

.article-content,
.header .text {
  color: $pageContentColor;
  font-family: $textFont;
  font-size: 14px;
}

.article-content {
  width: 27%;
}

.article-first {
  margin-bottom: 121px;
  .article-header {
    background: url("../img/01.png") no-repeat;
  }
  .article-content {
    margin-left: 70px;
  }
  .article-image {
    width: 62.3%;
    margin-left: 54px;
    .caption {
      right: -2%;
    }
    img {
      float: right;
    }
  }
}

.article-second {
  .article-image {
    margin-left: 17%;
    width: 40%;
  }
  .article-content {
    margin-left: 77px;
  }
  .article-header {
    background: url("../img/02.png") no-repeat;
  }
}

.article-header {
  height: 136px;
  margin-top: 15px;
  margin-bottom: 34px;
  position: relative;
  .title {
    position: absolute;
    bottom: 0;
    padding-bottom: 11px;
    &:first-letter {
      border-bottom: 2px solid $lineColor;
    }
  }
}

.article-text {
  margin-bottom: 67px;
}

.club {
  margin-bottom: 148px;
}

.header .title,
.header .text {
  text-align: center;
}

.input-group {
  width: 96%;
  margin: 0 auto;
  .form-control,
  .btn {
    border-radius: 0;
    height: 50px;
  }
  .form-control {
    background-color: #f5f5f5;
  }
  .btn {
    background-color: $lineColor;
    color: white;
    width: 50px;
  }
}

.header .title {
  margin-bottom: 20px;
}

.header {
  margin-bottom: 35px;
}

.contacts {
  display: flex;
  margin-bottom: 98px;
  .image {
    width: 50%;
    margin-right: 44px;
  }
  .contact-info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 34%;
  }
  .address {
    margin: 55px 0 55px 45px;
    line-height: 46px;
  }
  .inscription {
    color: $text-color;
  }
  .r-btn {
    color: $lineColor;
  }
}

.main-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  .brand {
    margin-bottom: 35px;
  }
  .navigation {
    margin-bottom: 40px;
  }
  .social {
    display: flex;
    margin-bottom: 95px;
    li {
      margin: 0 20px;
    }
    a {
      color: $lightColor;
      &:hover {
        color: #5da8ef;
      }
    }
  }
}


/*Media query*/

//Large

@media (max-width: 1354px) {
  .right-side {
    //flex only for social!
    right: 3%;
    a {
      color: $lightColor;
    }
    .caption {
      top: 20px;
    }
  }
}

@media (min-width: 1230px) {
  body .container {
    padding: 0;
    width: 1224px;
  }
}

//Medium
@media (max-width: 1199px) {
  .boards {
    justify-content: space-around;
    .glyphicon-chevron-left {
      margin-right: 20px;
    }
    .board:last-of-type {
      display: none;
    }
  }
  .article-first .article-content {
    margin: 0;
    width: 50%;
  }
  .article-second .article-image {
    margin: 0;
    width: 50%;
  }
  .article-content {
    width: 40%;
  }
}

//small
@media (max-width: 991px) {
  .image img {
    width: 100%;
  }
  .banner-content {
    padding: 15px;
    background-color: rgba(#ccc, 0.3);
  }
  .r-pagination {
    padding: 10px;
    background-color: rgba(#bbb, 0.5);
  }
  #mvid {
    position: relative;
    top: 0;
  }
  .boards {
    .board:nth-child(2) {
      display: none;
    }
  }
  .media-capture .image {
    margin-bottom: 30px;
  }
  .media-content .text {
    margin-bottom: 30px;
  }
  .article-header {
    margin-bottom: 20px;
  }
  .article-text {
    margin-bottom: 30px;
  }
  .contacts .address {
    margin: 20px 0 20px 20px;
  }
}

//extra small
@media (max-width: 767px) {
  .navbar-header .navbar-brand {
    padding-left: 15px;
  }
  nav.navbar {
    margin: 0;
  }
  .navigation {
    li:first-child {
      padding-left: 24px;
    }
  }
  .article-first,
  .article-second {
    flex-direction: column;
  }
  .article-first .article-content {
    width: 100%;
  }
  .article-second .article-content {
    width: 100%;
    margin: 0;
  }
  .article-first .article-image {
    margin-top: 40px;
    width: 80%;
  }
  .article-second .article-image {
    margin-top: 10px;
    margin-left: 54px;
    width: 80%;
  }
  .media {
    margin-bottom: 100px;
  }
  .contact-info {
    .title {
      font-size: 25px;
    }
    .contacts .address {
      line-height: 20px;
    }
  }
  .contacts .contact-info {
    width: 50%;
  }
}

@media (max-width: 640px) {
  .banner-title {
    font-size: 33px;
    margin: 0;
  }
  .main-header {
    margin-bottom: 100px;
  }
  .boards {
    margin-bottom: 40px;
  }
  .shop {
    margin-bottom: 100px;
  }
  .right-side .caption {
    display: none;
  }
}

@media (max-width: 480px) {
  .inscription {
    font-size: 9px;
  }
  .banner-content {
    padding: 0;
    padding-left: 5px;
    width: 90%;
    max-height: 75%;
    .banner-title {
      font-size: 20px;
    }
    .text {
      font-size: 15px;
      overflow: hidden;
    }
    br {
      display: none;
    }
  }
  .slogan {
    font-size: 9px;
  }
  .right-side {
    right: 5%;
  }
  .r-pagination {
    padding: 0;
  }
  .blockquote {
    font-size: 18px;
  }
  .r-btn,
  input[placeholder] {
    font-size: 9px;
  }
  .title {
    font-size: 20px;
  }
  .board .text {
    left: 0;
    top: auto;
    bottom: -70px;
  }
  .board .board-name {
    font-size: 18px;
  }
  .board .price {
    margin-top: 0;
  }
  .boards {
    margin-bottom: 50px;
  }
  .shop {
    margin-bottom: 30px;
  }
  .contact-info .title {
    font-size: 18px;
  }
  .contacts .address {
    line-height: 25px;
    ;
  }
}