@import url("../css/stylesheet.css");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display");
@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  box-sizing: border-box; }

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: url("../img/background-water.png") no-repeat 0 1572px; }

.main-header {
  margin-bottom: 190px; }

.text {
  color: #8f8f8f;
  font-size: 16px; }

nav.navbar {
  margin: 0.8% 0;
  margin: 45px 0; }

.navbar-header .navbar-brand {
  padding: 0;
  height: auto; }

.navigation {
  font-family: "League Spartan";
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700; }
  .navigation li {
    padding-left: 24px;
    padding-right: 24px; }
  .navigation li a {
    color: rgba(11, 12, 17, 0.9);
    padding-left: 0 !important;
    padding-right: 0 !important; }
  .navigation li:last-child {
    padding-right: 0; }
  .navigation li:first-child {
    padding-left: 0; }

.image {
  position: relative; }

.base {
  box-shadow: -16px 25px 65px 0px rgba(11, 12, 17, 0.2); }

.wrapper {
  display: flex;
  align-items: center; }

.banner-content {
  position: absolute;
  z-index: 10; }

.r-pagination {
  position: absolute;
  bottom: 0; }

.banner-title {
  font-family: "Playfair Display";
  font-size: 62px;
  font-weight: 700;
  color: rgba(11, 12, 17, 0.9); }

.inscription {
  color: #5da8ef;
  text-transform: uppercase;
  font-size: 15px; }

.r-pagination .glyphicon {
  color: #ebebeb; }

.current-page {
  color: #5da8ef; }

.v-text {
  transform: rotate(-90deg);
  transform-origin: right top 0; }

.right-side {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 0;
  position: absolute;
  right: -3%; }
  .right-side a {
    color: #ebebeb; }
  .right-side .caption {
    top: -75px; }

.slogan {
  color: #ebebeb;
  font-family: "League Spartan";
  font-weight: 700;
  white-space: nowrap;
  text-transform: uppercase; }

.social {
  list-style: none;
  list-style-position: inside;
  padding: 0; }

.blockquote {
  text-align: center;
  border: none;
  font-family: "Playfair Display";
  font-size: 24px;
  color: #333; }

.quote-author {
  font-family: "League Spartan";
  color: #333;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }

.quote {
  margin: 0 0 60px; }

.line {
  height: 100px;
  border-right: 2px solid #5da8ef;
  margin-bottom: 60px;
  width: 50%; }

.media {
  margin-bottom: 200px; }

.media-content {
  position: relative; }
  .media-content .content {
    text-align: left; }
  .media-content .text {
    margin-bottom: 60px; }

.media-video {
  position: absolute !important;
  top: 100px; }

.media-capture .image {
  margin-bottom: 60px; }

.r-btn {
  font-family: "League Spartan";
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #333;
  display: inline-block; }
  .r-btn:hover {
    text-decoration: none;
    border-bottom: 2px solid transparent; }

.show-all-btn {
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(93, 168, 239, 0.7); }

.shop-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 175px; }
  .shop-header .title {
    margin-top: 0; }

.title {
  font-family: "Playfair Display";
  color: #333;
  font-size: 42px;
  font-weight: 700; }

.boards {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 132px; }

.board {
  width: 250px;
  height: 320px;
  margin-right: 186px;
  background-color: #ececec;
  position: relative; }
  .board .text {
    position: absolute;
    right: -68%;
    top: 75px; }
  .board .board-type {
    font-family: "Poppins", sans-serif;
    color: #7a7a7a;
    font-size: 12px;
    text-transform: uppercase; }
  .board .board-name {
    font-family: "Playfair Display";
    color: #333;
    font-size: 26px;
    font-weight: 400; }
  .board .price {
    margin-top: 38px;
    display: flex;
    justify-content: center; }

.board-image {
  position: absolute;
  bottom: 0; }

.price-val {
  color: #ce60a8; }

.arrows {
  position: absolute;
  width: 100%;
  height: 100%; }

.spacer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.shop {
  margin-bottom: 173px; }
  .shop .left,
  .shop .right {
    display: block;
    position: relative; }

.shop .left {
  left: -4%; }

.shop .right {
  right: -4%; }

.shop-footer {
  display: flex;
  justify-content: center; }

.article-first {
  display: flex; }
  .article-first .article-header {
    background: url("../img/01.png") no-repeat; }

.caption {
  position: absolute;
  top: 0;
  right: 0; }

.article-content {
  width: 27%;
  margin-left: 70px;
  color: rgba(97, 97, 97, 0.65);
  font-family: "Poppins", sans-serif;
  font-size: 14px; }

.article-header {
  height: 136px;
  margin-top: 15px;
  margin-bottom: 34px;
  position: relative; }
  .article-header .title {
    position: absolute;
    bottom: 0;
    padding-bottom: 11px; }
    .article-header .title:first-letter {
      border-bottom: 2px solid #5da8ef; }

.article-text {
  margin-bottom: 67px; }

.article-image {
  width: 62.3%;
  margin-left: 54px; }
  .article-image .caption {
    right: -2%; }

/*Media query*/
@media (min-width: 1300px) {
  body .container {
    padding: 0;
    width: 1224px; } }

/*# sourceMappingURL=style.css.map */
